  <div class='toast-wrap' id='toastWrap' aria-live='polite' aria-atomic='true'></div>
  <div id='objectPanelBackdrop' class='object-panel-backdrop hidden' onclick='closeObjectPanel()'></div>
  <aside id='objectPanel' class='object-panel-host' aria-live='polite' aria-label='Object details panel'>
    <div id='objectPanelHeader' class='object-panel-header'></div>
    <div id='objectPanelBody' class='object-panel-body'></div>
    <div id='objectPanelFooter' class='object-panel-footer'></div>
  </aside>
