<!doctype html>
<html lang='en'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>{% block title %}Today Digital Campaign Ops{% endblock %}</title>
  <link rel='preload' href='/static/fonts/BarlowCondensed-800.ttf' as='font' type='font/ttf' crossorigin>
  <link rel='preload' href='/static/fonts/Epilogue-400.ttf' as='font' type='font/ttf' crossorigin>
  <link rel='preload' href='/static/fonts/DMMono-400.ttf' as='font' type='font/ttf' crossorigin>
  <link rel='stylesheet' href='/static/app.css' />
</head>
<body>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
